.social {
    display: flex;
    align-items: center;
}

.social__text {
    color: $black;
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 2rem;
}

.social__link {
    margin-right:1rem;

    :hover {
        fill: $black;
    }
}


.social__icon {
    display: block;
    width: 30px;
    height: 30px;

    fill: #ababab;
    transition: fill .1s linear;

    &--fb {
        width: 22px;
        height: 22px;
    }

    &--inst {
        width: 23px;
        height: 23px;
    }
}