$white: #fff;
$pink: #CF246C;
$black: #121212;
$gray: #FAFAFA;
$gray_dark: #A1A1A1;
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25px rgba(0, 0, 0, .05);

/*Bootstrap Modal*/

$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: .9;